@import '~antd/dist/antd.css';

.App {
  /* text-align: center; */
}

.App-logo {
  height: 15%;
  max-height: 100px;
  min-height: 55px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40vh;
  padding-left: 6vw;

  transition: padding-left 0.75s ease, padding-bottom 0.65s ease 0.1s, height 0.75s ease;
}

.App-header__squeezed {
  padding-bottom: 0vh;
  height: 10vh;
  min-height: 60px;
  padding-left: 3vw;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.App-link {
  color: #61dafb;
}

.App-search {
  width: 60vw;
  max-width: 600px;
  min-width: 200px;
  margin-left: 1vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-content {
  padding: 2vh 10vw;
  max-width: 900px;
}
